<div class="row">
    <div class="col-xs-12">
        <div ngbDropdown>
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>GifBall-Z</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button [routerLink]="['/battlefield']" class="dropdown-item">Battle!</button>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <h1 class="display-4">Battle!</h1>
    <p class="lead">Engage your GifBalls...</p>
    <hr class="my-4">

    <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
</div>